<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.teleca.RSSTestReader"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application android:icon="@drawable/rssman" android:label="@string/app_name">
       
        <activity android:name="com.teleca.RSSTestReader.Activity.RSSTestReaderActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.teleca.RSSTestReader.Activity.RSSURLList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.teleca.RSSTestReader.Activity.RSSMessagePreview"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider android:name="com.teleca.RSSTestReader.ContentProvider.FeedsContentProvider"            
                  android:authorities="com.teleca.RSSTestReader.ContentProvider.FeedsContentProvider"/>
        
        <provider android:name="com.teleca.RSSTestReader.ContentProvider.RSSMessagesContentProvider" 
                  android:authorities="com.teleca.RSSTestReader.ContentProvider.RSSMessagesContentProvider"/>

        <service android:enabled="true" android:name="com.teleca.RSSTestReader.Service.RSSUpdateService" />
        
        <receiver android:name="com.teleca.RSSTestReader.BroadcastReceivers.RSSUpdateBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.teleca.RSSTestReader.action.UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>        
    </application>
</manifest>